# Importing the libraries

In [4]:
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

# adding the JSON file that has the credentials to access the API

In [5]:
scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

In [6]:
scope

['https://spreadsheets.google.com/feeds',
 'https://www.googleapis.com/auth/drive']

In [7]:
credentials = ServiceAccountCredentials.from_json_keyfile_name(
         'shashank.json', scope)

In [8]:
credentials

In [9]:
gc = gspread.authorize(credentials)

In [10]:
gc

# Creating the object of sheet

In [22]:
restaurant = gc.open("RTB").sheet1

In [23]:
restaurant

In [24]:
data = restaurant.get_all_values()
headers = data.pop(0)

# Getting all the data from sheet

In [18]:
records_data = wks.get_all_records()
records_data

[{'name': 'Namo Sandwich',
  'locality': 'Sudama Nagar',
  'latitude': 22.69633146,
  'longitude': 75.83485689,
  'cuisines': 'Fast Food',
  'average_cost_for_two': 500,
  'aggregate_rating': 4.3,
  'votes': 860,
  'rating_text': 'Very Good'},
 {'name': 'Bake N Shake',
  'locality': 'BCM Heights, Vijay Nagar',
  'latitude': 22.75570457,
  'longitude': 75.89528706,
  'cuisines': 'Cafe, Fast Food, Bakery',
  'average_cost_for_two': 500,
  'aggregate_rating': 4.2,
  'votes': 683,
  'rating_text': 'Very Good'},
 {'name': 'Shree Gurukripa',
  'locality': 'Sarwate Bus Stand',
  'latitude': 22.71408953,
  'longitude': 75.86885054,
  'cuisines': 'North Indian',
  'average_cost_for_two': 350,
  'aggregate_rating': 4.3,
  'votes': 2030,
  'rating_text': 'Very Good'},
 {'name': 'Nafees Restaurant',
  'locality': 'Old Palasia',
  'latitude': 22.72571214,
  'longitude': 75.88775709,
  'cuisines': 'North Indian, Mughlai',
  'average_cost_for_two': 800,
  'aggregate_rating': 4.3,
  'votes': 2987,
  'rating_text': 'Very Good'},
 {'name': 'Hotel Guru Kripa',
  'locality': 'Sarwate Bus Stand',
  'latitude': 22.71408551,
  'longitude': 75.86884584,
  'cuisines': 'North Indian',
  'average_cost_for_two': 350,
  'aggregate_rating': 4.3,
  'votes': 3441,
  'rating_text': 'Very Good'},
 {'name': 'Shree Gurukripa',
  'locality': 'Vijay Nagar',
  'latitude': 22.75322076,
  'longitude': 75.9021484,
  'cuisines': 'North Indian',
  'average_cost_for_two': 500,
  'aggregate_rating': 4.1,
  'votes': 1451,
  'rating_text': 'Very Good'},
 {'name': 'Hotel Guru Kripa Avenue',
  'locality': 'Sarwate Bus Stand',
  'latitude': 22.71409403,
  'longitude': 75.86911564,
  'cuisines': 'North Indian',
  'average_cost_for_two': 350,
  'aggregate_rating': 4.1,
  'votes': 1354,
  'rating_text': 'Very Good'},
 {'name': 'Maa Ki Rasoi',
  'locality': 'Sudama Nagar',
  'latitude': 22.6846581,
  'longitude': 75.82895,
  'cuisines': 'North Indian, South Indian',
  'average_cost_for_two': 450,
  'aggregate_rating': 4.1,
  'votes': 541,
  'rating_text': 'Very Good'},
 {'name': 'Apna Sweets',
  'locality': 'Vijay Nagar',
  'latitude': 22.74956011,
  'longitude': 75.89528974,
  'cuisines': 'Mithai, North Indian, South Indian, Beverages',
  'average_cost_for_two': 400,
  'aggregate_rating': 4.3,
  'votes': 2619,
  'rating_text': 'Very Good'},
 {'name': 'Dutt Guru Kripa',
  'locality': 'South Tukoganj',
  'latitude': 22.71977664,
  'longitude': 75.87688342,
  'cuisines': 'North Indian, Fast Food',
  'average_cost_for_two': 450,
  'aggregate_rating': 4.1,
  'votes': 1261,
  'rating_text': 'Very Good'},
 {'name': 'Oye24',
  'locality': 'HIG-LIG',
  'latitude': 22.73416947,
  'longitude': 75.87423574,
  'cuisines': 'North Indian, Chinese',
  'average_cost_for_two': 250,
  'aggregate_rating': 4.1,
  'votes': 1460,
  'rating_text': 'Very Good'},
 {'name': 'Mitti - Organic. Fresh. Desi.',
  'locality': 'Old Palasia',
  'latitude': 22.72509334,
  'longitude': 75.89026932,
  'cuisines': 'Cafe, North Indian',
  'average_cost_for_two': 600,
  'aggregate_rating': 4.3,
  'votes': 590,
  'rating_text': 'Very Good'},
 {'name': 'SD 21 - Hotel Somdeep Palace',
  'locality': ' Hotel Somdeep Palace, Vijay Nagar',
  'latitude': 22.75003503,
  'longitude': 75.90348154,
  'cuisines': 'North Indian, Chinese',
  'average_cost_for_two': 1100,
  'aggregate_rating': 4.6,
  'votes': 959,
  'rating_text': 'Excellent'},
 {'name': 'Sagar Gaire',
  'locality': 'New Palasia',
  'latitude': 22.72554639,
  'longitude': 75.88351585,
  'cuisines': 'South Indian, North Indian, Fast Food',
  'average_cost_for_two': 450,
  'aggregate_rating': 4.1,
  'votes': 2932,
  'rating_text': 'Very Good'},
 {'name': "Domino's Pizza",
  'locality': 'Sapna Sangeeta Mall, Sapna Sangeeta',
  'latitude': 22.69901566,
  'longitude': 75.86720265,
  'cuisines': 'Pizza, Fast Food',
  'average_cost_for_two': 400,
  'aggregate_rating': 3.9,
  'votes': 1437,
  'rating_text': 'Good'},
 {'name': 'Cravings - Sayaji Hotel',
  'locality': 'Sayaji Hotel, Vijay Nagar',
  'latitude': 22.75243589,
  'longitude': 75.88778827,
  'cuisines': 'North Indian, Chinese, Italian',
  'average_cost_for_two': 1800,
  'aggregate_rating': 4.7,
  'votes': 658,
  'rating_text': 'Excellent'}]

In [25]:
df = pd.DataFrame(data, columns=headers)
print(df.head())

                name                  locality     latitude    longitude  \
0      Namo Sandwich              Sudama Nagar  22.69633146  75.83485689
1       Bake N Shake  BCM Heights, Vijay Nagar  22.75570457  75.89528706
2    Shree Gurukripa         Sarwate Bus Stand  22.71408953  75.86885054
3  Nafees Restaurant               Old Palasia  22.72571214  75.88775709
4   Hotel Guru Kripa         Sarwate Bus Stand  22.71408551  75.86884584

                  cuisines average_cost_for_two aggregate_rating votes  \
0                Fast Food                  500              4.3   860
1  Cafe, Fast Food, Bakery                  500              4.2   683
2             North Indian                  350              4.3  2030
3    North Indian, Mughlai                  800              4.3  2987
4             North Indian                  350              4.3  3441

  rating_text
0   Very Good
1   Very Good
2   Very Good
3   Very Good
4   Very Good

In [26]:
records_df = pd.DataFrame.from_dict(records_data)
records_df.head()

,name,locality,latitude,longitude,cuisines,average_cost_for_two,aggregate_rating,votes,rating_text
0,Namo Sandwich,Sudama Nagar,22.696331,75.834857,Fast Food,500,4.3,860,Very Good
1,Bake N Shake,"BCM Heights, Vijay Nagar",22.755705,75.895287,"Cafe, Fast Food, Bakery",500,4.2,683,Very Good
2,Shree Gurukripa,Sarwate Bus Stand,22.714090,75.868851,North Indian,350,4.3,2030,Very Good
3,Nafees Restaurant,Old Palasia,22.725712,75.887757,"North Indian, Mughlai",800,4.3,2987,Very Good
4,Hotel Guru Kripa,Sarwate Bus Stand,22.714086,75.868846,North Indian,350,4.3,3441,Very Good

In [33]:
worksheet = wks.add_worksheet(name='test')

AttributeError: 'Worksheet' object has no attribute 'add_worksheet'