In [15]:
import pandas as pd

In [16]:
data = pd.read_csv("/content/rest and city.csv")

In [17]:
data

               Restaurant       City
0                  Nafees     Indore
1               The Lalit     Jaipur
2             Hotel Mayur    Udaipur
3   Hotel  Balaji Central     Ratlam
4            Hotel Sayaji     Indore
5            Radisson Blu     Jaipur
6      Four Seasons Hotel     Mumbai
7                   Hyatt       Pune
8   Hotel Lake View Ashok     Bhopal
9        Hotel Amar Vilas     Indore
10            Hotel Goyal     Jaipur
11     Hotel Sea Princess     Mumbai
12         Hotel Rajmahal  Bangalore
13       The Orchid Hotel       Pune
14         Hotel Jahanuma     Bhopal
15                 Ginger     Mumbai
16   Royal Orchid Central  Bengaluru
17        The Pride Hotel       Pune

In [18]:
data.head()

              Restaurant     City
0                 Nafees   Indore
1              The Lalit   Jaipur
2            Hotel Mayur  Udaipur
3  Hotel  Balaji Central   Ratlam
4           Hotel Sayaji   Indore

In [19]:
from geopy.geocoders import Nominatim

In [68]:
geocoder = Nominatim(user_agent = "urvashi")

In [21]:
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geocoder.geocode, min_delay_seconds = 1, return_value_on_exception = None)

In [22]:
geocode("Hotel Sayaji Indore")

Location(Sayaji VijayNagar Bus Stop, MR10, Indore, Indore Tahsil, Indore, Madhya Pradesh, 452001, India, (22.7521786, 75.8910442, 0.0))

In [23]:
data ["Location"] =data["Restaurant"] +" " +data["City"]

In [24]:
geocode("Hotel Amar Vilas Indore")

Location(Amar Vilas, MR 9, Indore, Indore Tahsil, Indore, Madhya Pradesh, 452001, India, (22.7421334, 75.8932362, 0.0))

In [25]:
data['Latitude']=data['Location'].apply(lambda x: geocode(x).latitude)

In [26]:
data['Latitude']=data['Location'].apply(lambda x: geocode(x).latitude)

In [27]:
data.head()

              Restaurant     City  ...   Latitude  Longitude
0                 Nafees   Indore  ...  22.725745  75.888349
1              The Lalit   Jaipur  ...  26.840202  75.807515
2            Hotel Mayur  Udaipur  ...  24.579616  73.684268
3  Hotel  Balaji Central   Ratlam  ...  23.353903  75.025807
4           Hotel Sayaji   Indore  ...  22.752179  75.891044

[5 rows x 5 columns]

In [28]:
newdata=data.drop(columns=['City',"Restaurant","Location"])
newdata.head()

    Latitude  Longitude
0  22.725745  75.888349
1  26.840202  75.807515
2  24.579616  73.684268
3  23.353903  75.025807
4  22.752179  75.891044

In [29]:
from sklearn.metrics.pairwise import euclidean_distances
result=euclidean_distances(newdata)
result

array([[0.00000000e+00, 4.11525072e+00, 2.88007133e+00, 1.06703375e+00,
        2.65703288e-02, 4.11782919e+00, 4.83090054e+00, 4.61950826e+00,
        1.60366857e+00, 1.71012453e-02, 4.21315691e+00, 4.74998826e+00,
        9.89005031e+00, 4.45969058e+00, 1.58440051e+00, 4.86144129e+01,
        9.90257510e+00, 4.66463955e+00],
       [4.11525072e+00, 0.00000000e+00, 3.10135904e+00, 3.57286294e+00,
        4.08887672e+00, 1.36015244e-02, 8.39548274e+00, 8.50204792e+00,
        3.97387252e+00, 4.09896508e+00, 9.80202227e-02, 8.30031607e+00,
        1.39719292e+01, 8.31556948e+00, 3.93090133e+00, 4.98753932e+01,
        1.39826316e+01, 8.53693348e+00],
       [2.88007133e+00, 3.10135904e+00, 0.00000000e+00, 1.81716805e+00,
        2.86520314e+00, 3.09387339e+00, 5.65191337e+00, 6.02982066e+00,
        3.97794778e+00, 2.87330527e+00, 3.16886301e+00, 5.55290928e+00,
        1.22339991e+01, 5.82447216e+00, 3.93725348e+00, 5.12259685e+01,
        1.22524535e+01, 6.05043072e+00],
       [1.06703375e+00, 3.57286294e+00, 1.81716805e+00, 0.00000000e+00,
        1.05390111e+00, 3.57219384e+00, 4.88586946e+00, 4.92926658e+00,
        2.39668945e+00, 1.06145906e+00, 3.66692382e+00, 4.79427109e+00,
        1.06818709e+01, 4.74357850e+00, 2.36371382e+00, 4.96077964e+01,
        1.06971509e+01, 4.96445018e+00],
       [2.65703288e-02, 4.08887672e+00, 2.86520314e+00, 1.05390111e+00,
        0.00000000e+00, 4.09146582e+00, 4.85305275e+00, 4.64454623e+00,
        1.59334737e+00, 1.02815809e-02, 4.18678657e+00, 4.77196330e+00,
        9.91564030e+00, 4.48445085e+00, 1.57344874e+00, 4.86183942e+01,
        9.92813589e+00, 4.68959610e+00],
       [4.11782919e+00, 1.36015244e-02, 3.09387339e+00, 3.57219384e+00,
        4.09146582e+00, 0.00000000e+00, 8.39286697e+00, 8.50129394e+00,
        3.98141904e+00, 4.10156060e+00, 9.57316362e-02, 8.29765504e+00,
        1.39759055e+01, 8.31465907e+00, 3.93840462e+00, 4.98888170e+01,
        1.39866458e+01, 8.53609839e+00],
       [4.83090054e+00, 8.39548274e+00, 5.65191337e+00, 4.88586946e+00,
        4.85305275e+00, 8.39286697e+00, 0.00000000e+00, 1.17030347e+00,
        6.23612685e+00, 4.84666768e+00, 8.48458778e+00, 9.93104471e-02,
        7.66549909e+00, 1.05939967e+00, 6.23571430e+00, 5.08450433e+01,
        7.69567322e+00, 1.12631692e+00],
       [4.61950826e+00, 8.50204792e+00, 6.02982066e+00, 4.92926658e+00,
        4.64454623e+00, 8.50129394e+00, 1.17030347e+00, 0.00000000e+00,
        5.83080623e+00, 4.63640777e+00, 8.59590434e+00, 1.20433088e+00,
        6.67274206e+00, 2.10211307e-01, 5.83867059e+00, 4.97036529e+01,
        6.70027984e+00, 6.16791580e-02],
       [1.60366857e+00, 3.97387252e+00, 3.97794778e+00, 2.39668945e+00,
        1.59334737e+00, 3.98141904e+00, 6.23612685e+00, 5.83080623e+00,
        0.00000000e+00, 1.59414896e+00, 4.06612765e+00, 6.16406945e+00,
        1.02281279e+01, 5.70167460e+00, 4.55665345e-02, 4.72605159e+01,
        1.02342597e+01, 5.88342441e+00],
       [1.71012453e-02, 4.09896508e+00, 2.87330527e+00, 1.06145906e+00,
        1.02815809e-02, 4.10156060e+00, 4.84666768e+00, 4.63640777e+00,
        1.59414896e+00, 0.00000000e+00, 4.19687714e+00, 4.76567487e+00,
        9.90536882e+00, 4.47650388e+00, 1.57451575e+00, 4.86137650e+01,
        9.91786265e+00, 4.68151469e+00],
       [4.21315691e+00, 9.80202227e-02, 3.16886301e+00, 3.66692382e+00,
        4.18678657e+00, 9.57316362e-02, 8.48458778e+00, 8.59590434e+00,
        4.06612765e+00, 4.19687714e+00, 0.00000000e+00, 8.38928358e+00,
        1.40697841e+01, 8.40909645e+00, 4.02328282e+00, 4.99136249e+01,
        1.40804696e+01, 8.63062021e+00],
       [4.74998826e+00, 8.30031607e+00, 5.55290928e+00, 4.79427109e+00,
        4.77196330e+00, 8.29765504e+00, 9.93104471e-02, 1.20433088e+00,
        6.16406945e+00, 4.76567487e+00, 8.38928358e+00, 0.00000000e+00,
        7.73883072e+00, 1.07867924e+00, 6.16315662e+00, 5.08540601e+01,
        7.76874874e+00, 1.16391552e+00],
       [9.89005031e+00, 1.39719292e+01, 1.22339991e+01, 1.06818709e+01,
        9.91564030e+00, 1.39759055e+01, 7.66549909e+00, 6.67274206e+00,
        1.02281279e+01, 9.90536882e+00, 1.40697841e+01, 7.73883072e+00,
        0.00000000e+00, 6.87169044e+00, 1.02618457e+01, 4.54582311e+01,
        4.20717031e-02, 6.68585646e+00],
       [4.45969058e+00, 8.31556948e+00, 5.82447216e+00, 4.74357850e+00,
        4.48445085e+00, 8.31465907e+00, 1.05939967e+00, 2.10211307e-01,
        5.70167460e+00, 4.47650388e+00, 8.40909645e+00, 1.07867924e+00,
        6.87169044e+00, 0.00000000e+00, 5.70824941e+00, 4.97875672e+01,
        6.89890641e+00, 2.26282606e-01],
       [1.58440051e+00, 3.93090133e+00, 3.93725348e+00, 2.36371382e+00,
        1.57344874e+00, 3.93840462e+00, 6.23571430e+00, 5.83867059e+00,
        4.55665345e-02, 1.57451575e+00, 4.02328282e+00, 6.16315662e+00,
        1.02618457e+01, 5.70824941e+00, 0.00000000e+00, 4.72994485e+01,
        1.02681016e+01, 5.89104066e+00],
       [4.86144129e+01, 4.98753932e+01, 5.12259685e+01, 4.96077964e+01,
        4.86183942e+01, 4.98888170e+01, 5.08450433e+01, 4.97036529e+01,
        4.72605159e+01, 4.86137650e+01, 4.99136249e+01, 5.08540601e+01,
        4.54582311e+01, 4.97875672e+01, 4.72994485e+01, 0.00000000e+00,
        4.54162841e+01, 4.97567916e+01],
       [9.90257510e+00, 1.39826316e+01, 1.22524535e+01, 1.06971509e+01,
        9.92813589e+00, 1.39866458e+01, 7.69567322e+00, 6.70027984e+00,
        1.02342597e+01, 9.91786265e+00, 1.40804696e+01, 7.76874874e+00,
        4.20717031e-02, 6.89890641e+00, 1.02681016e+01, 4.54162841e+01,
        0.00000000e+00, 6.71367939e+00],
       [4.66463955e+00, 8.53693348e+00, 6.05043072e+00, 4.96445018e+00,
        4.68959610e+00, 8.53609839e+00, 1.12631692e+00, 6.16791580e-02,
        5.88342441e+00, 4.68151469e+00, 8.63062021e+00, 1.16391552e+00,
        6.68585646e+00, 2.26282606e-01, 5.89104066e+00, 4.97567916e+01,
        6.71367939e+00, 0.00000000e+00]])

In [30]:
import pandas
df=pandas.DataFrame(result)

In [40]:
Location=input("enter the Location :")

enter the Location :Nafees Indore

In [41]:
search=data.index[data["Location"]==Location]
search

Int64Index([0], dtype='int64')

In [43]:
value=search[0]
value

0

In [44]:
ans=df.iloc[value]
ans

0      0.000000
1      4.115251
2      2.880071
3      1.067034
4      0.026570
5      4.117829
6      4.830901
7      4.619508
8      1.603669
9      0.017101
10     4.213157
11     4.749988
12     9.890050
13     4.459691
14     1.584401
15    48.614413
16     9.902575
17     4.664640
Name: 0, dtype: float64

In [45]:
import numpy
sim = numpy.argsort(ans)[0:4]

In [46]:
sim

0    0
1    9
2    4
3    3
Name: 0, dtype: int64

In [47]:
for i in range(4):
    print(data['Location'][sim[i]])

Nafees Indore
Hotel Amar Vilas Indore
Hotel Sayaji Indore
Hotel  Balaji Central Ratlam

In [48]:
from geopy.geocoders import Nominatim

In [49]:
geocoder = Nominatim(user_agent = "Surabhi")

In [50]:
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(geocoder.geocode, min_delay_seconds = 1, return_value_on_exception = None)

In [51]:
geocode("Hotel Sayaji Indore")

Location(Sayaji VijayNagar Bus Stop, MR10, Indore, Indore Tahsil, Indore, Madhya Pradesh, 452001, India, (22.7521786, 75.8910442, 0.0))

In [52]:
data ["Location"] =data["Restaurant"] +" " +data["City"]

In [53]:
geocode("Hotel Amar Vilas Indore")

Location(Amar Vilas, MR 9, Indore, Indore Tahsil, Indore, Madhya Pradesh, 452001, India, (22.7421334, 75.8932362, 0.0))

In [54]:
data['Latitude']=data['Location'].apply(lambda x: geocode(x).latitude)

In [55]:
data['Longitude']=data['Location'].apply(lambda x: geocode(x).longitude)

In [56]:
data.head()

              Restaurant     City  ...   Latitude  Longitude
0                 Nafees   Indore  ...  22.725745  75.888349
1              The Lalit   Jaipur  ...  26.840202  75.807515
2            Hotel Mayur  Udaipur  ...  24.579616  73.684268
3  Hotel  Balaji Central   Ratlam  ...  23.353903  75.025807
4           Hotel Sayaji   Indore  ...  22.752179  75.891044

[5 rows x 5 columns]

In [57]:
newdata=data.drop(columns=['City',"Restaurant","Location"])
newdata.head()

    Latitude  Longitude
0  22.725745  75.888349
1  26.840202  75.807515
2  24.579616  73.684268
3  23.353903  75.025807
4  22.752179  75.891044

In [58]:
from sklearn.metrics.pairwise import manhattan_distances
result=manhattan_distances(newdata)
result

array([[0.00000000e+00, 4.19529066e+00, 4.05795200e+00, 1.49069980e+00,
        2.91283000e-02, 4.21099126e+00, 6.79961654e+00, 6.15558828e+00,
        2.01121440e+00, 2.12751000e-02, 4.29978600e+00, 6.69309105e+00,
        1.14307720e+01, 6.00348813e+00, 2.01320535e+00, 5.91914537e+01,
        1.14779065e+01, 6.23548352e+00],
       [4.19529066e+00, 0.00000000e+00, 4.38383324e+00, 4.26800744e+00,
        4.17155236e+00, 1.57005956e-02, 1.08332394e+01, 1.01892111e+01,
        5.24339486e+00, 4.18378956e+00, 1.04495337e-01, 1.07267139e+01,
        1.56260627e+01, 1.00371110e+01, 5.17898482e+00, 6.33867444e+01,
        1.56731972e+01, 1.02691064e+01],
       [4.05795200e+00, 4.38383324e+00, 0.00000000e+00, 2.56725220e+00,
        4.03421370e+00, 4.37272044e+00, 6.44940614e+00, 6.24620382e+00,
        5.10605620e+00, 4.04645090e+00, 4.47491920e+00, 6.34288065e+00,
        1.54887240e+01, 5.99077647e+00, 5.04164615e+00, 6.32494057e+01,
        1.55358585e+01, 6.21119828e+00],
       [1.49069980e+00, 4.26800744e+00, 2.56725220e+00, 0.00000000e+00,
        1.46696150e+00, 4.25689464e+00, 6.56523194e+00, 5.92120368e+00,
        2.53880400e+00, 1.47919870e+00, 4.35909340e+00, 6.45870645e+00,
        1.29214718e+01, 5.76910353e+00, 2.47439395e+00, 6.06821535e+01,
        1.29686063e+01, 6.00109892e+00],
       [2.91283000e-02, 4.17155236e+00, 4.03421370e+00, 1.46696150e+00,
        0.00000000e+00, 4.18725296e+00, 6.82874484e+00, 6.18471658e+00,
        1.98208610e+00, 1.22372000e-02, 4.27604770e+00, 6.72221935e+00,
        1.14545103e+01, 6.03261643e+00, 1.98407705e+00, 5.92151920e+01,
        1.15016448e+01, 6.26461182e+00],
       [4.21099126e+00, 1.57005956e-02, 4.37272044e+00, 4.25689464e+00,
        4.18725296e+00, 0.00000000e+00, 1.08221266e+01, 1.01780983e+01,
        5.25909546e+00, 4.19949016e+00, 1.02198758e-01, 1.07156011e+01,
        1.56417633e+01, 1.00259982e+01, 5.19468541e+00, 6.34024450e+01,
        1.56888978e+01, 1.02579936e+01],
       [6.79961654e+00, 1.08332394e+01, 6.44940614e+00, 6.56523194e+00,
        6.82874484e+00, 1.08221266e+01, 0.00000000e+00, 1.52461406e+00,
        8.81083094e+00, 6.82089164e+00, 1.09243253e+01, 1.06525488e-01,
        1.07671342e+01, 1.26918671e+00, 8.81282189e+00, 5.85278159e+01,
        1.08142688e+01, 1.48960852e+00],
       [6.15558828e+00, 1.01892111e+01, 6.24620382e+00, 5.92120368e+00,
        6.18471658e+00, 1.01780983e+01, 1.52461406e+00, 0.00000000e+00,
        8.16680268e+00, 6.17686338e+00, 1.02802971e+01, 1.61614247e+00,
        9.24252018e+00, 2.55427354e-01, 8.16879363e+00, 5.70032019e+01,
        9.28965473e+00, 7.98952394e-02],
       [2.01121440e+00, 5.24339486e+00, 5.10605620e+00, 2.53880400e+00,
        1.98208610e+00, 5.25909546e+00, 8.81083094e+00, 8.16680268e+00,
        0.00000000e+00, 1.98993930e+00, 5.34789020e+00, 8.70430545e+00,
        1.03826678e+01, 8.01470253e+00, 6.44100477e-02, 5.81433495e+01,
        1.04298023e+01, 8.24669792e+00],
       [2.12751000e-02, 4.18378956e+00, 4.04645090e+00, 1.47919870e+00,
        1.22372000e-02, 4.19949016e+00, 6.82089164e+00, 6.17686338e+00,
        1.98993930e+00, 0.00000000e+00, 4.28828490e+00, 6.71436615e+00,
        1.14422731e+01, 6.02476323e+00, 1.99193025e+00, 5.92029548e+01,
        1.14894076e+01, 6.25675862e+00],
       [4.29978600e+00, 1.04495337e-01, 4.47491920e+00, 4.35909340e+00,
        4.27604770e+00, 1.02198758e-01, 1.09243253e+01, 1.02802971e+01,
        5.34789020e+00, 4.28828490e+00, 0.00000000e+00, 1.08177998e+01,
        1.57305580e+01, 1.01281969e+01, 5.28348015e+00, 6.34912397e+01,
        1.57776925e+01, 1.03601923e+01],
       [6.69309105e+00, 1.07267139e+01, 6.34288065e+00, 6.45870645e+00,
        6.72221935e+00, 1.07156011e+01, 1.06525488e-01, 1.61614247e+00,
        8.70430545e+00, 6.71436615e+00, 1.08177998e+01, 0.00000000e+00,
        1.08586626e+01, 1.36071512e+00, 8.70629640e+00, 5.86193443e+01,
        1.09057972e+01, 1.58113693e+00],
       [1.14307720e+01, 1.56260627e+01, 1.54887240e+01, 1.29214718e+01,
        1.14545103e+01, 1.56417633e+01, 1.07671342e+01, 9.24252018e+00,
        1.03826678e+01, 1.14422731e+01, 1.57305580e+01, 1.08586626e+01,
        0.00000000e+00, 9.49794753e+00, 1.04470778e+01, 4.77606817e+01,
        4.71345495e-02, 9.27752572e+00],
       [6.00348813e+00, 1.00371110e+01, 5.99077647e+00, 5.76910353e+00,
        6.03261643e+00, 1.00259982e+01, 1.26918671e+00, 2.55427354e-01,
        8.01470253e+00, 6.02476323e+00, 1.01281969e+01, 1.36071512e+00,
        9.49794753e+00, 0.00000000e+00, 8.01669348e+00, 5.72586292e+01,
        9.54508208e+00, 2.31995386e-01],
       [2.01320535e+00, 5.17898482e+00, 5.04164615e+00, 2.47439395e+00,
        1.98407705e+00, 5.19468541e+00, 8.81282189e+00, 8.16879363e+00,
        6.44100477e-02, 1.99193025e+00, 5.28348015e+00, 8.70629640e+00,
        1.04470778e+01, 8.01669348e+00, 0.00000000e+00, 5.82077595e+01,
        1.04942124e+01, 8.24868887e+00],
       [5.91914537e+01, 6.33867444e+01, 6.32494057e+01, 6.06821535e+01,
        5.92151920e+01, 6.34024450e+01, 5.85278159e+01, 5.70032019e+01,
        5.81433495e+01, 5.92029548e+01, 6.34912397e+01, 5.86193443e+01,
        4.77606817e+01, 5.72586292e+01, 5.82077595e+01, 0.00000000e+00,
        4.77135472e+01, 5.70382074e+01],
       [1.14779065e+01, 1.56731972e+01, 1.55358585e+01, 1.29686063e+01,
        1.15016448e+01, 1.56888978e+01, 1.08142688e+01, 9.28965473e+00,
        1.04298023e+01, 1.14894076e+01, 1.57776925e+01, 1.09057972e+01,
        4.71345495e-02, 9.54508208e+00, 1.04942124e+01, 4.77135472e+01,
        0.00000000e+00, 9.32466026e+00],
       [6.23548352e+00, 1.02691064e+01, 6.21119828e+00, 6.00109892e+00,
        6.26461182e+00, 1.02579936e+01, 1.48960852e+00, 7.98952394e-02,
        8.24669792e+00, 6.25675862e+00, 1.03601923e+01, 1.58113693e+00,
        9.27752572e+00, 2.31995386e-01, 8.24868887e+00, 5.70382074e+01,
        9.32466026e+00, 0.00000000e+00]])

In [59]:
import pandas
df=pandas.DataFrame(result)

In [60]:
Location=input("enter the Location :")

enter the Location :The Lalit Jaipur

In [61]:
search=data.index[data["Location"]==Location]
search

Int64Index([1], dtype='int64')

In [63]:
value=search[0]
value

1

In [64]:
ans=df.iloc[value]
ans

0      4.195291
1      0.000000
2      4.383833
3      4.268007
4      4.171552
5      0.015701
6     10.833239
7     10.189211
8      5.243395
9      4.183790
10     0.104495
11    10.726714
12    15.626063
13    10.037111
14     5.178985
15    63.386744
16    15.673197
17    10.269106
Name: 1, dtype: float64

In [65]:
import numpy
sim = numpy.argsort(ans)[0:4]

In [66]:
sim

0     1
1     5
2    10
3     4
Name: 1, dtype: int64

In [67]:
for i in range(4):
    print(data['Location'][sim[i]])

The Lalit Jaipur
Radisson Blu Jaipur
Hotel Goyal Jaipur
Hotel Sayaji Indore